<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Create Post{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    <form method="post" action="{% url 'create' %}">
        {% csrf_token %}
        <label for="paragraph">Enter your text:</label>
        <textarea id="paragraph" name="paragraph" rows="10" cols="50"></textarea><br><br>
            <button type="submit" class="btn btn-success">Create Post</button>
        
    </form>
    
    <a href="{% url 'home' %}">
        <button type="button" class="btn btn-success">Home Window</button>
    </a>
    {% endblock %}
</body>
</html>

