
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff!important;
    margin: 0;
}

h1 {
    color: #000000;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 4px;
}

button {
    background-color: #1f201f; /* Dark background */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding */
    margin-top: 10px; /* Margin */
    border: none; /* No border */
    outline: none; /* Remove outline */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
}

button:hover {
    background-color: #6f7a70; /* Change background on hover */
    outline: none; /* Ensure no outline on hover */
}

.navbar {
    background-color: #001f3f; /* Navy blue */
}

.navbar a {
    color: rgb(255, 255, 255) !important; 
    text-decoration: none; 
    padding: 10px; 
    display: inline-block; 
}

.navbar a:hover {
    color: #000000 !important; /* Change text color on hover */
}

  